div {
    width: 300px;
    height: auto;
    border: 2px solid #999999;
    border-radius: 18px;
    padding: 2px 10px 2px 10px;    
    font-family: sans-serif;
    margin: 0 auto 0 auto;
}
.list li {
    padding: 2px 0 2px 0;
}
.outer {
    list-style-type: upper-roman;
}
.firstNested {
    list-style-type: lower-latin;
}
.circleItems {
    list-style-type: circle;
}
.circleItems ul {
    list-style-type: square;
}