body {
    background: skyblue;
}
.nav {
    border-bottom: 3px solid #999999;
}
h2 {
    border-bottom: 3px solid #999999;
    margin-top: 15px;
    padding-bottom: 10px;
}
img {
    width: 160px;
    height: 160px;
}
ul {
    list-style-type: none;
}